/.idea/dataSources/ba8ae882-3d8e-4b27-9239-4c45201ad70e.xml
/.idea/compiler.xml
/.idea/dataSources/ba8ae882-3d8e-4b27-9239-4c45201ad70e/storage_v2/_src_/schema/data_querying.D6vO3A.meta
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dataSources/ba8ae882-3d8e-4b27-9239-4c45201ad70e/storage_v2/_src_/schema/DEFECT.cb32dw.meta
/.idea/encodings.xml
/.idea/dataSources/ba8ae882-3d8e-4b27-9239-4c45201ad70e/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/dataSources/ba8ae882-3d8e-4b27-9239-4c45201ad70e/storage_v2/_src_/schema/my_db.8XM4Bg.meta
/.idea/dataSources/ba8ae882-3d8e-4b27-9239-4c45201ad70e/storage_v2/_src_/schema/mysql.osA4Bg.meta
/.idea/dataSources/ba8ae882-3d8e-4b27-9239-4c45201ad70e/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
/.idea/sqldialects.xml
/.idea/dataSources/ba8ae882-3d8e-4b27-9239-4c45201ad70e/storage_v2/_src_/schema/sys.zb4BAA.meta
/.idea/dataSources/ba8ae882-3d8e-4b27-9239-4c45201ad70e/storage_v2/_src_/schema/sys.zb4BAA.zip
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
