<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cityu.defect.mapper.DefectInfoMapper">
    <resultMap id="BaseResultMap" type="com.cityu.defect.model.entity.DefectInfo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="defectName" column="defectName" jdbcType="VARCHAR"/>
        <result property="defectStatus" column="defectStatus" jdbcType="VARCHAR"/>
        <result property="defectDetail" column="defectDetail" jdbcType="VARCHAR"/>
        <result property="defectType" column="defectType" jdbcType="VARCHAR"/>
        <result property="defectLevel" column="defectLevel" jdbcType="VARCHAR"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="projectId" column="projectId" jdbcType="BIGINT"/>
        <result property="defectComment" column="defectComment" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,defectName,defectStatus,defectDetail,
          defectType,defectLevel,userId,projectId,
          defectComment,createTime,updateTime
    </sql>
    <select id="selectByUserId"
            resultType="com.cityu.defect.model.entity.DefectInfo">
        select * from defect_info d where d.userId = #{userId}
    </select>
</mapper>
